body {
    width: 1280px;
    margin: 0 auto;
    background-color: #FFD255;
    font-family: 'Inter', Times, serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 64px;
}

#navigation-logo {
    line-height: 110%;
    font-size: 56px;
    font-weight: 900;
    margin: 0px;
}

#navigation-list ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    height: 100%;
}

#navigation-list ul li {
    margin-right: 40px;
}

#navigation-list ul li:last-child {
    margin-right: 0px;
}

#main-info {
    display: flex;
    margin-bottom: 120px;
}

#main-info_text,
#main-info_image {
    width: 640px;
}

#main-info_text {
    margin-left: 64px;
    margin-top: 120px;
}

#main-info_text h2 {
    font-weight: bold;
    margin: 0px;
    margin-bottom: 24px;
}

#main-info_text p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
    line-height: 145%;
}

#main-info_text button {
    padding: 16px 15px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

#cards {
    display: flex;
}

.card {
    position: relative;
    width: 362px;
    height: 473px;
    border-radius: 10px;
    background-color: white;
}

.card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    margin: 28px 24px 24px;
}

.card-heading {
    max-height: 70px;
    font-weight: 600;
    margin: 0px;
    line-height: 145%;
}

.card-text {
    font-weight: 500;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.55);
}

.card-button {
    background-color: white;
    border: 0px;
    padding: 0px;
    font-weight: 500;
    line-height: 145%;
    cursor: pointer;

    position: absolute;
    bottom: 24px;
    left: 24px;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 732px;
}

.footer-left h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 145%;
    margin: 0px;
    margin-bottom: 8px;
}

.footer-left p {
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;
    color: rgba(0, 0, 0, 0.55);
}

.footer-social a {
    margin-right: 24px;
}

.footer-social a:last-child {
    margin-right: 0px;
}

.footer-right {
    width: 300px;
    display: flex;
}

.footer-links {
    width: 130px;
    margin-right: 40px;
}

.footer-links:last-child {
    margin-right: 0;
}

.footer-links h3 {
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;
    margin-bottom: 24px;
}

.footer-links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-link {
    margin-bottom: 8px;
}

.footer-link a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
}

@media (min-width: 1280px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    #main-info {
        flex-direction: row;
    }

    #main-info_text h2 {
        font-size: 56px;
    }

    #main-info_text p {
        width: 511px;
    }

    #cards {
        flex-direction: row;
        margin-left: 64px;
        margin-right: 64px;
    }

    .card {
        margin-right: 32px;
        margin-bottom: 114px;
    }

    .card-heading {
        font-size: 24px;
    }

    .card-text,
    .card-button {
        font-size: 18px;
    }

    footer {
        flex-direction: row;
        margin-bottom: 120px;
        margin-left: 64px;
        margin-right: 64px;
    }

    .footer-left p {
        margin: 0px;
        margin-bottom: 56px;
    }

    .footer-right {
        flex-direction: row;
    }
}

@media (max-width: 1279px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    body {
        min-width: 375px;
        width: 100%;
    }

    nav {
        width: calc(100% - 48px);
        margin-left: 24px;
        margin-right: 24px;
    }

    #main-info {
        flex-direction: column;
        margin-bottom: 0;
    }

    #main-info_text {
        width: calc(100% - 48px);
        margin: 56px 24px;
    }

    #main-info_image-mobile {
        width: 375px;
        margin: 0 auto;
    }

    #main-info_text h2 {
        font-size: 40px;
        text-align: center;
    }

    #main-info_text p {
        text-align: center;
    }

    #main-info_text button {
        width: 100%;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        margin-left: 24px;
        margin-right: 24px;
    }

    .card {
        width: 327px;
        height: 436px;
        margin-right: 0;
        margin-bottom: 32px;
    }

    .card:last-child {
        margin-bottom: 80px;
    }

    .card-image {
        width: 100%;
    }

    .card-heading {
        font-size: 20px;
    }

    .card-text,
    .card-button {
        font-size: 16px;
    }

    footer {
        flex-direction: column;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 64px;
        margin-bottom: 64px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .footer-left {
        margin-bottom: 64px;
    }

    .footer-left p {
        margin: 0px;
        margin-bottom: 32px;
    }

    .footer-right {
        flex-direction: column;
    }

    .footer-links {
        margin-bottom: 40px;
    }

    .footer-links:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    #navigation-logo {
        margin-bottom: 16px;
    }

    #navigation-list ul {
        padding-left: 0px;
    }
}